<article id="<%= page.layout %>-<%= page.slug %>" class="article article-type-<%= page.layout %>" itemscope itemprop="blogpage">
  <div class="article-inner">
    <div class="article-entry" itemprop="articleBody">
        <%- page.content %>
        <%- partial('_widget/recent_posts') %>
    </div>
  </div>
</article>
