<%- partial('_partial/head') %>
<body class="no-sidebar">
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header') %>
      <div class="outer">
        <section><%- body %></section>
      </div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
