<div id="header-wrapper" class="wrapper">
    <div id="header">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="index.html"><%= config.title %></a></h1>
            <p><%= config.description %></p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a href="<%- url_for('/') %>">Home</a></li>
                <li><a href="<%- url_for('/about') %>">About</a></li>
                <li><a href="<%- url_for('/portfolio') %>">Portfolio</a></li>
                <li><a href="<%- url_for('/resume') %>">Resume</a></li>
                <li><a href="<%- url_for('/archives') %>">Blog</a></li>
            </ul>
        </nav>

    </div>
</div>
